@import "~bootstrap/dist/css/bootstrap.min.css";

.card-form, .card-list {
  width: 80%;
  margin: 50px auto 50px auto;
}

.card-title {
  text-align: center;
  font-size: 30px;
}

.heading {
  text-align: center;
  margin-top: 50px;
}

.table {
  margin: 0px;
}

.table-btns {
  color: black;
}

@media (min-width: 576px) {
  .card-form {
    width: 45%;
  }
}

@media (min-width: 992px) {
  .card-form {
    width: 30%;
  }
}

@media (min-width: 1400px) {
  .card-form {
    width: 25%;
  }
}